<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{_("You have not rights for view this page")}}</h1>
<p>{{_("The administrator has been notified."")}}</p>
<p><a href="{{url_for('index')}}">{{_("Back")}}</a></p>
{% endblock %}