
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} | One Click DTLN</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <script src="{{ config.PERSONA_JS }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
    <script>
  /* the url root is useful for doing HTTP requests */
  var $URL_ROOT = {{ request.url_root|tojson }};
  /* we store the current user here so that the persona
     javascript support knows about the current user */
  var $CURRENT_USER = {{ g.user | tojson }};
    </script>
    <script src="/static/js/moment-with-locales.js"></script>
    <script src="{{ url_for('static', filename='js/persona.js') }}"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <div class="container">
  <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Oneclick DTLN</a>
    <ul class="nav">
    {% if g.user %}
      <li><a href="#" class="signout">{{_("Sign out")}}</a></li>
      <li><a href="{{ url_for('user', page = 1) }}">{{_("Your Profile")}}</a></li>
    {% else %}
      <li><a href="#" class="signin">{{_("Sign in")}}</a></li>
    {% endif %}
    <li><a href="/about">{{_("About")}}</a></div></li>
    <hr>
    {% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
    {% block content %}{% endblock %}
    </div>
    <hr>
    <footer>
        ©LLC DATALINE
    </footer>
    </div>

    </div>

    </body>
</html>