<p>Dear customer,</p>
For you left the secret on DTLN oneclick.
To view secret, please visit disposable link:
<p><a href="{{link}}">Secret on DTLN one click</a></p>
<img src="{{ qrcode(link) }}" width="200" height="200" alt="qrcode">
<p>Regards,</p>
<p>The <code>microblog</code> admin</p>