{% extends "base.html" %}

{% block content %}
<div class="col-md-4 center-block">
<h1>{{_("Request a secret")}}</h1>
<form role = "role" action="" method="post" name="requestsecret">
<div class = "form-group"></div>
    {{form.hidden_tag()}}
    <p>
        {{_("Please enter your Secret:")}}<br>
        {{form.secret(size=80)}}<br>
        {% for error in form.errors.secret %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        {{_("Please enter your Passphrase (Optional):")}}<br>
        {{form.passphrase()}}<br>
    </p>
    {% if current_user.is_authenticated %}
    <p>
        {{_("Please enter customer Email:")}}<br>
        {{form.email(size=80)}}<br>
        {% for error in form.errors.email %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
   {% endif %}
    <p><input type="submit" class = "btn btn-default" value={{_("Create Secret Link")}}></p>
</form>
</div>
{% endblock %}