{% extends "base.html" %}
{% block content %}
<h1>{{_("View secret")}}</h1>
<form action="" method="post" name="decryptsecret">
    {{form.hidden_tag()}}
    <p>
        {{_("Please enter your Key to view secret:")}}<br>
        {{form.passphrase(size=80)}}<br>
        {% for error in form.errors.passphrase %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
    <p><input type="submit" class="btn btn-default" value={{_("View Secret")}}></p>
</form>

{% endblock %}