<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{_('A secret available on link:')}}</h1>

<textarea class="input-block-level" readonly="readonly" rows="2">{{link}}</textarea>

<img src="{{ qrcode(link) }}" width="200" height="200" alt="qrcode">
<p></p>
<p><a href="{{url_for('index')}}">{{_("Back")}}</a></p>

{% endblock %}