<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td><img src="{{user.avatar(128)}}" class="img-rounded"></td>
        <td><h1>{{_('User:')}} {{user.email}}</h1></td>
    </tr>
</table>
<hr>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>{{_('Link')}}</th>
    <th>{{_('Customer Email')}}</th>
    <th>{{_('Publication date')}}</th>
    <th>{{_('Viewed date')}}</th>
  </tr>
  </thead>
  <tbody>
  {% for post in posts.items %}
  <tr>
    <td>{{request.host_url+'private/'+post.id_u}}</td>
    <td>{{post.email}}</td>
    {%if post.pub_date%}
    <td>{{momentjs(post.pub_date).format("LLL")}}</td>
    {%else%}
    <td>None</td>
    {%endif%}
    {%if post.viewed%}
    <td>{{momentjs(post.viewed).format("LLL")}}</td>
    {%else%}
    <td>{{_('Not viewed')}}</td>
    {%endif%}
  </tr>
  {% endfor %}
  </tbody>
</table>


<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('user', nickname = user.nickname, page = posts.prev_num) }}">{{_('Newer posts')}}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">{{_('Newer posts')}}</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="next"><a href="{{ url_for('user', nickname = user.nickname, page = posts.next_num) }}">{{_('Older posts')}}</a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{_('Older posts')}}</a></li>
    {% endif %}
</ul>
{% endblock %}
